@font-face {
  font-family: 'Zilla Slab';
  /* font-style: normal; */
  /* font-weight: 700; */
  /* font-display: optional; */
  src: local('Zilla Slab'),
       local('Zilla-Slab'),
       local('ZillaSlab'),
       local('Zilla Slab Bold'),
       local('Zilla-Slab-Bold'),
       local('ZillaSlab Bold'),
       local('ZillaSlab-Bold'),
       local('Zilla SlabBold'),
       local('Zilla-SlabBold'),
       local('ZillaSlabBold'),
       url('/assets/font/zilla-slab-700-latin-ext.woff2') format('woff2'),
       url('/assets/font/zilla-slab-700-latin-ext.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/zilla-slab-700-latin-ext.woff') format('woff'),
       url('/assets/font/zilla-slab-700-latin-ext.ttf') format('truetype'),
       url('/assets/font/zilla-slab-700-latin-ext.svg#ZillaSlab-Bold') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Zilla Slab';
  /* font-style: normal; */
  /* font-weight: 700; */
  /* font-display: optional; */
  src: local('Zilla Slab'),
       local('Zilla-Slab'),
       local('ZillaSlab'),
       local('Zilla Slab Bold'),
       local('Zilla-Slab-Bold'),
       local('ZillaSlab Bold'),
       local('ZillaSlab-Bold'),
       local('Zilla SlabBold'),
       local('Zilla-SlabBold'),
       local('ZillaSlabBold'),
       url('/assets/font/zilla-slab-700-latin.woff2') format('woff2'),
       url('/assets/font/zilla-slab-700-latin.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/zilla-slab-700-latin.woff') format('woff'),
       url('/assets/font/zilla-slab-700-latin.ttf') format('truetype'),
       url('/assets/font/zilla-slab-700-latin.svg#ZillaSlab-Bold') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* @font-face { */
/*   font-family: 'Zilla Slab'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   font-display: optional; */
/*   src: url(../font/zilla-slab-700-latin.woff2) format('woff2'); */
/*   src: local('Zilla Slab'), */
/*        local('Zilla-Slab'), */
/*        local('ZillaSlab'), */
/*        local('Zilla Slab Bold'), */
/*        local('Zilla-Slab-Bold'), */
/*        local('ZillaSlabBold'), */
/*        local('ZillaSlab Bold'), */
/*        local('ZillaSlab-Bold'), */
/*        url('../font/zilla-slab-700-latin.woff2') format('woff2'), */
/*        url('../font/zilla-slab-700-latin.eot?#iefix') format('embedded-opentype'), */
/*        url('../font/zilla-slab-700-latin.woff') format('woff'), */
/*        url('../font/zilla-slab-700-latin.ttf') format('truetype'), */
/*        url('../font/zilla-slab-700-latin.svg#ZillaSlab-Bold') format('svg'); */
/*   src: url('../font/zilla-slab-700-latin.svg#ZillaSlab-Bold') format('svg'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

@font-face {
  font-family: 'Noto Serif';
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-display: optional; */
  src: local("Noto Serif"),
       local("Noto-Serif"),
       local("NotoSerif"),
       url('/assets/font/noto-serif-400-latin-ext.woff2') format('woff2'),
       url('/assets/font/noto-serif-400-latin-ext.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/noto-serif-400-latin-ext.woff') format('woff'),
       url('/assets/font/noto-serif-400-latin-ext.ttf') format('truetype'),
       url('/assets/font/noto-serif-400-latin-ext.svg#ZillaSlab-Bold') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Noto Serif';
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-display: optional; */
  src: local("Noto Serif"),
       local("Noto-Serif"),
       local("NotoSerif"),
       url('/assets/font/noto-serif-400-latin.woff2') format('woff2'),
       url('/assets/font/noto-serif-400-latin.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/noto-serif-400-latin.woff') format('woff'),
       url('/assets/font/noto-serif-400-latin.ttf') format('truetype'),
       url('/assets/font/noto-serif-400-latin.svg#ZillaSlab-Bold') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* @font-face { */
/*   font-family: 'Noto Serif'; */
/*   font-style: italic; */
/*   font-weight: 400; */
/*   font-display: optional; */
/*   src: url(../font/noto-serif-italic-400-latin-ext.woff2) format('woff2'); */
/*   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
/* } */

/* @font-face { */
/*   font-family: 'Noto Serif'; */
/*   font-style: italic; */
/*   font-weight: 400; */
/*   font-display: optional; */
/*   src: url(../font/noto-serif-italic-400-latin.woff2) format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

@font-face {
  font-family: 'DejaVu Serif';
  src: local("DejaVu Serif"),
       local("DejaVu-Serif"),
       local("DejaVuSerif");
}

/* ====================================================================== */

/* Set font-size first so ems/rems/line-height/etc adjust accordingly. */
body { font-size: 16px; }

/* ====================================================================== */
/* CSS "resets". */
/* Tweaked version of normalize. */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline-width:1px;outline-style:dotted;outline-color:silver;outline-offset:-2px}

/* semantic-ui.com reset */
*,*:before,*:after{box-sizing:inherit}html{box-sizing:border-box}input[type="text"],input[type="email"],input[type="search"],input[type="password"]{-webkit-appearance:none;-moz-appearance:none}

/* ====================================================================== */

/* Make all "root" elements max size */
html, body, #app {
  /**
   * DO NOT USE height 100vh, it causes iOS Safari to hide the toolbar on
   * scrolling, causing vertical spacing issues with the FAB. Setting height
   * to 100% _seems_ to ensure that the toolbar remains visible and vertical
   * spacing is more predictable. Much discussion, e.g.
   * https://www.eventbrite.com/engineering/mobile-safari-why/
   * and "solution": https://stackoverflow.com/a/54477968
   */
  height: 100%;

  width: 100%;
  width: 100vw;
  min-width: 100%;
  min-width: 100vw;
  max-width: 100%;
  max-width: 100vw;
}

/**
 * Rudely interfere with vertical scrolling on smaller
 * screens because the "articles" will scroll vertically,
 * and there will be nothing else within the viewport.
 */
body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ====================================================================== */
/* Basic typography. */
/* font-family, see https://github.com/necolas/normalize.css/issues/665#issuecomment-808634679 */
/* Also see the very handy font comparison tool at https://meowni.ca/font-style-matcher/ */
body {
  color: #024;
  font-family: "Noto Serif",
               "DejaVu Serif", /* Ubuntu etc */
               serif;          /* fallback */
  letter-spacing: 0.1px;
  line-height: 1.5;
}

a {
  color: #f06;
  text-decoration: underline;
  text-decoration-color: #fc0;
  cursor: pointer;
}
h1, #nav h1, a.title {
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

/* #nav { background: #f06 } */

p, h2, h3, h4, h5, h6 { margin: 0 0 0.5rem 0 }

h1,h2,h3,h4,h5,h6 { font-family: serif; font-weight: 400; line-height: 1.15; letter-spacing: 0.3px }
h1 { font-weight: 700 }

h1 { font-size: 1.2rem }
h2 { font-size: 1.1rem }
h3 { font-size: 1.0rem }
h4 { font-size: 1.0rem }
h5 { font-size: 1.0rem }
h6 { font-size: 1.0rem }

/* ====================================================================== */

/* Form elements. */

input, input[type="button"], input[type="submit"], input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
  width: 100%;
  margin: auto;
}

button, input[type="button"], input[type="submit"] {
  font-family: serif;
  border: 0;
  font-weight: 700;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
  font-family: "Courier New", courier, fixed, system;
  border-style: none none solid none;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
  padding: 3px 4px 2px 4px;
}

/* ====================================================================== */

/* Loading spinner.
/* Silly z-index values here. */
/* See https://www.sitepoint.com/managing-css-stacking-contexts-hostile-environment/ */

.loading {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.loading-element {
  z-index: 200;
  height: 100%;
  width: 100%;
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f3f3;
  background-size: 70px 70px;
  border-radius: 4px;
}


/* ====================================================================== */
/* Offline. */

.offline {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/offline.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* ====================================================================== */
/* Tweaks to share polyfill */

/* Adjust the WhatsApp share icon. */

.tool-icon.whatsapp .the-icon {
  filter: brightness(160%) hue-rotate(-20deg)
}

/* Fonts */

#shareAPIPolyfill-container .the-icon-title,
#shareAPIPolyfill-container button.shareAPIPolyfill-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
               "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
               "Helvetica Neue", arial, sans-serif,
               "Microsoft JhengHei" !important;
  font-size: 0.95rem !important;
}

/* ====================================================================== */
/* Print-related styles. Also see print.css */

@media screen {
  .print-only {
    display: none !important;
  }
}

/* ====================================================================== */
/* Accessible hiding. */
/* https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ */

.hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}

/* ====================================================================== */
/* Level of detail animations. */

.lod {
  font-size: inherit;
  transition: font-size 0.7s, letter-spacing 0.5s, color 0.3s;
}

body.lod-0-shrink .lod.lod-0,
body.lod-1-shrink .lod.lod-1,
body.lod-2-shrink .lod.lod-2,
body.lod-3-shrink .lod.lod-3,
body.lod-4-shrink .lod.lod-4,
body.lod-5-shrink .lod.lod-5 {
  font-size: 0;
  letter-spacing: -2px;
  color: transparent;
}

/* ====================================================================== */
/* Misc */

hr {
  border: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #765;
  overflow: visible;
  height: 1px;
}

/* ====================================================================== */

/* Font tweaks, minimising jarring from resizing. */

/* FIXME Add noto serif here */

.font-dejavu-serif h1,
.font-dejavu-serif h2,
.font-dejavu-serif h3,
.font-dejavu-serif h4,
.font-dejavu-serif h5,
.font-dejavu-serif h6 {
  font-weight: 400;
  font-family: "DejaVu Serif";
  /* letter-spacing: 0.3px; */
  /* line-height: 1.3 */
}
.font-dejavu-serif h1 { font-weight: 700 }


.font-dejavu-serif h1 { font-size: 1.20rem; letter-spacing: 1px }
.font-dejavu-serif h2 { font-size: 1.10rem }
.font-dejavu-serif h3 { font-size: 0.97rem }
.font-dejavu-serif h4 { font-size: 0.97rem }
.font-dejavu-serif h5 { font-size: 0.97rem }
.font-dejavu-serif h6 { font-size: 0.97rem }

.font-zilla-slab h1, .font-zilla-slab-700 h1,
.font-zilla-slab h2, .font-zilla-slab-700 h2,
.font-zilla-slab h3, .font-zilla-slab-700 h3,
.font-zilla-slab h4, .font-zilla-slab-700 h4,
.font-zilla-slab h5, .font-zilla-slab-700 h5,
.font-zilla-slab h6, .font-zilla-slab-700 h6 {
  font-weight: 400;
  font-family: "Zilla Slab" !important;
  letter-spacing: 0.2px;
  line-height: 0.97;
}
.font-zilla-slab h1, .font-zilla-slab-700 h1 {
  font-weight: 700
}

.font-zilla-slab h1, .font-zilla-slab-700 h1 { font-size: 1.42rem; line-height: 1.25 }
.font-zilla-slab h2, .font-zilla-slab-700 h2 { font-size: 1.30rem }
.font-zilla-slab h3, .font-zilla-slab-700 h3 { font-size: 1.20rem }
.font-zilla-slab h4, .font-zilla-slab-700 h4 { font-size: 1.10rem; line-height: 1 }
.font-zilla-slab h5, .font-zilla-slab-700 h5 { font-size: 1.10rem }
.font-zilla-slab h6, .font-zilla-slab-700 h6 { font-size: 1.10rem }

.font-dejavu-serif button,
.font-dejavu-serif input[type="button"],
.font-dejavu-serif input[type="submit"] {
  font-family: "DejaVu Serif";
  letter-spacing: 1px;
}

.font-zilla-slab button,
.font-zilla-slab input[type="button"],
.font-zilla-slab input[type="submit"],
.font-zilla-slab-700 button,
.font-zilla-slab-700 input[type="button"],
.font-zilla-slab-700 input[type="submit"] {
  font-family: "Zilla Slab" !important;
  font-size: 1.11rem !important;
  padding: 0.4rem 0.4rem 0.6rem !important;
}
.font-zilla-slab-700 button,
.font-zilla-slab-700 input[type="button"],
.font-zilla-slab-700 input[type="submit"] {
  font-weight: 400 !important;
  letter-spacing: 0.8px !important;
}

.font-noto-serif p,
.font-dejavu-serif p,
.font-zilla-slab p,
.font-zilla-slab-700 p,
.font-noto-serif h1,
.font-dejavu-serif h1,
.font-zilla-slab h1,
.font-zilla-slab-700 h1,
.font-noto-serif h2,
.font-dejavu-serif h2,
.font-zilla-slab h2,
.font-zilla-slab-700 h2,
.font-noto-serif h3,
.font-dejavu-serif h3,
.font-zilla-slab h3,
.font-zilla-slab-700 h3,
.font-noto-serif h4,
.font-dejavu-serif h4,
.font-zilla-slab h4,
.font-zilla-slab-700 h4,
.font-noto-serif h5,
.font-dejavu-serif h5,
.font-zilla-slab h5,
.font-zilla-slab-700 h5,
.font-noto-serif h6,
.font-dejavu-serif h6,
.font-zilla-slab h6,
.font-zilla-slab-700 h6,
.font-noto-serif button,
.font-dejavu-serif button,
.font-zilla-slab button,
.font-zilla-slab-700 button,
.font-noto-serif input,
.font-dejavu-serif input,
.font-zilla-slab input,
.font-zilla-slab-700 input {
  transition: font-family 0.5s, font-size 0.5s, font-weight 0.5s, letter-spacing 0.5s, line-height 0.5s, padding 0.5s;
}
